.login-container{
    margin: 0 auto;
    width: 30vw;

    
    input[type='submit']{
        margin: auto;
        display: block;
        border: none;
        font-size: 16px;
        background-color: #dbd8d8;
        padding: 10px 15px;
        
    }
}